* {
    margin: 0px;
    padding: 0px;

}

/* Font */
.fontinter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Main-Part */
header {
    background-color: #FFFFFF;
    padding: 16px;
}
nav {
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    padding: 16px 120px;
    align-items: center;
    gap: 346px;
    margin-bottom: 25px
}

/* list-and-button */
.lists {
    list-style-type: none;
    display: flex;
}

.lists {
    gap: 32px;
    font-size: 16px;
    align-items: center;
    width: 365px;
    height: 24px;
}

.button {
    background-color: #469165;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    border-radius: 5px;
}

#herosec {
    text-align: center;
    padding: 115.5px 120px 179.5px;
    margin:-20px;
    background:url("../Pictures/hero-bg.png") center/cover no-repeat
}
.st {
    color: #FFFFFF;
    font-size: 72px;
    padding-top: 16px
}
.nj {
    color: #30B868;
    font-size: 72px
}
.textes {
    font-size: 18px;
    color: #FFFFFF;
    font-weight:lighter;
    padding-top: 16px
}
.start{
    color: #FFFFFF;
    background-color: #469165;
    padding: 12px 16px;
}
.see {
    color: #FFFFFF;
    background: transparent;
    padding: 12px 16px;
    margin-top: 20px

}
.early {
    color: #469165;
    background-color: #FFFFFF;
    padding: 8px 12px;
    margin-top: 20px
}